
body,html{
    margin: 0;
    padding: 0;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    box-sizing: border-box;
    color: white;
    background-color:#215204;
    text-shadow: 1px 1px 3px black;
   
}


/*navigation bar*/



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(43, 87, 0),#012400);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 2px;
    z-index: 1000;
  
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
    padding: 3px;   
}
.nav-links a:hover {
  border-radius: 20px;
  text-shadow: none;
  background-color:rgb(121, 250, 0);
  color: #012400;
  
}

.main {
    padding-top: 0px;
}



/*home page*/




.slideshow-container{
    width: 100%; 
    height: 900px; 
    overflow: hidden;
}

.slideshow-container img{
    width: 100%; 
    height: 900px; 
    display: none;
    filter: brightness(0.4);
}


.small-photos-container {
  position: absolute;
  margin-left: 20px;
  flex-direction: column;
  right: 50px;
  top: 15%;
  gap: 10px;
}

.small-photo-row {
  display: flex;
  gap: 20px; 
}

.small-photo-row img {
  width: 200px; 
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: transform 0.3s ease;
}
  
.small-photo-row img:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}



.logo1{
  position: absolute;
  top: 20%;
  left: 30px;
  width: 250px;
  height: 250px;
}

.text-overlay1{
  position: absolute;
  top: 70%;
  left: 35%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: rgb(236, 255, 223);
  font-size: 30px;
  font-weight: bold;
 
}

.button{
  border: 2px solid  rgb(121, 250, 0);
  text-shadow: none;
  color: white;
  width: 150px;
  font-size: 18px;
  padding: 12px 0;
  background: none;
  border-radius: 20px;
  outline: none;
  margin-top: 10px;
  font-weight: bold;
  
}
.button:hover {
  border: 2px solid white;
  background: linear-gradient(rgb(121, 250, 0),#012400);
}

.header-image{
    width: 100%; 
    left: 0%;
    display: block; 
    height: 400px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}

.photo-container{
    position: relative;
}
.container-image{
    width: 100%; 
    left: 0%;
    display: block; 
    height: 550px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-overlay2{
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
   
}






/*about Yala*/



.pics{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 30px;
  }
.pics img{
  width: 300px;
  height: 200px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  transition: transform 0.3s ease;
  }

.pics img:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }



.intro{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: optima,sans-serif;
    text-shadow: 1px 1px 3px black;
}
.introimage{
    border: 1px solid  #ffffff;
    border-radius: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
  
.introimage:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


.details1{
    width: 450px;
    height: 300px;
    text-align: center;
    margin-right: 50px;
    line-height: 0.75cm;
  
 }

.details2 {
    width: 450px;
    height: 300px;
    text-align: center;
    margin-left: 50px;
    line-height: 0.75cm;

}

.details3{
    width: 450px;
    height: 300px;
    text-align: center;
    margin-right: 50px;
    line-height: 0.75cm;
  
 }
 
.details4 {
    width: 450px;
    height: 300px;
    text-align: center;
    margin-left: 50px;
    line-height: 0.75cm;
}


 

.location{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 1px;
    font-size: larger;
    font-weight: bold;
    background-color:  #94e72e ;
    color: black;
    width: 450px;
    height: 300px;
    margin-right: 50px;
    transition: transform 0.3s ease;
  }
    
  .location:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
.map-container{
    width: 450px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;


}
.photo-box2{
    display: flex;
    justify-content: center;
    text-shadow: none;
}
  




/*about us*/




.about-us{
    font-size:x-large;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
  
}


.vb{
    display: flex;
}

.vision-box{
    text-align: center;
    padding: 5px 20px 10px;
    color: black;
    text-shadow: none;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 20px;
    width: 600px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
.vision-box:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  }


  .vision-box:nth-child(1){
    background-color: #87e416;
  }
  .vision-box:nth-child(2){
    background-color: #94e72e ;
  }
  .vision-box:nth-child(3){
    background-color:#a3e750;

  }
  .vision-box:nth-child(4){
    background-color:#b5e977 ;
  }
 
  
  .mission-box{
    text-align: center;
    padding: 5px 20px 10px;
    color: black;
    text-shadow: none;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid white;
    width: 600px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
  
.mission-box:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

  .mission-box:nth-child(1){
    background-color: #87e416;
  }
  .mission-box:nth-child(2){
    background-color: #94e72e ;
  }
  .mission-box:nth-child(3){
    background-color:#a3e750;

  }
  .mission-box:nth-child(4){
    background-color:#b5e977 ;
  }
 


/*packages section*/




.container1 {
    display: flex;
    gap: 20px;
    margin: auto;
    width: fit-content;
    justify-content: space-between;
    
}
.container2 {
    display: flex;
    gap: 20px;
    margin: auto;
    width: fit-content;

}

.text-box1 {
    background-color: rgb(255, 255, 255);
    border: 5px solid #ffffff;
    padding: 30px;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-size: x-large;
    text-shadow: none;
    transition: transform 0.3s ease;
}
    
.text-box1:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.text-box2 {
    background-color: rgb(255, 255, 255);
    border: 5px solid #ffffff;
    padding: 30px;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-size: x-large;
    text-shadow: none;
    transition: transform 0.3s ease;
   
}
   
.text-box2:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}


.text-box1:nth-child(1) {
    background-color: #87e416; 
    color:black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
}

.text-box1:nth-child(2) {
    background-color: #94e72e ;
    color: black;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 20%;
}
.text-box1:nth-child(3) {
    background-color:#a3e750;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
}
.text-box1:nth-child(4) {
    background-color:#b5e977 ;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
}

.text-box2:nth-child(1) {
    background-color:#87e416; 
    color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
}
.text-box2:nth-child(2) {
    background-color:#94e72e;
    color: black;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 20%;
}
.text-box2:nth-child(3) {
    background-color:#a3e750 ;
    color: black;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 20%;
}
.text-box2:nth-child(4) {
    background-color: #b5e977 ;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20% ;
}
.packages{
    text-align: center;
    font-size: x-large;
}


/*gallery*/

.gallery{
  text-align: center;
 justify-content: center;
 font-size: x-large;
}

.gallery-photos-container {
  margin-left:150px;
  flex-direction: column;
  gap: 30px;
}

.gallery-photo-row {
  display: flex;
  gap: 40px;
  align-content: center; 
}

.gallery-photo-row img {
  width: 200px; 
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: transform 0.3s ease;
}
  
.gallery-photo-row img:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.5);
}



/*contact us*/

    

.contact-us{
  text-align: center;
  justify-content: center;
  padding: 50px;
  font-size:x-large;
  color: rgb(255, 255, 255);
  font-weight: 800 ;
}

.contact-info{
  justify-content: center;
}

  
.contact-box {
  text-align: center;
  padding: 5px;
  color: black;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-shadow: none;
  width: 65%;
  justify-content: center;
  display: flex;
  margin: 10px;
  margin-left: 17.5%;
  transition: transform 0.3s ease;
}
  
.contact-box:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

  
  .contact-box:nth-child(1){
    background-color: #94e72e ;
  }
  .contact-box:nth-child(2){
    background-color:#a3e750;
  }
  .contact-box:nth-child(3) {
    background-color: #b5e977 ;
  }
  .contact-box i {
    font-size: 50px;
    color:#000000;
    margin-bottom: 5px;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .social-media ul li {
    margin: 0 10px;
  }
  
  .social-media a {
    color:  #1ce44e;
    text-decoration: none;
    transition: transform 0.3s ease;
 }
  
  .social-media a:hover{
    color:rgb(121, 250, 0) ;
  }
    
  .social-media i {
    font-size: 50px;
  }






/*footer*/

.footer{
    text-align: center;
    padding: 20px 0px 10px 0px;
    background:linear-gradient(#012400,rgb(30, 59, 0));
    color:white;
}